
.site-header {
  position: relative;
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  };

  .wrapper {
    position: relative;
    text-align: center;

    img {
      width: 100%;
      max-width: 512px;
    }
    h1 {
      color: white;
      text-shadow: 3px 3px 0 $color1;
      padding: 2em 0;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color1, 0.45);
  }
}

.main-wrapper {
  > * {
    padding: $padding-tb 0;
  }
  nav {
    padding: 0;
  }
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

.padded-tb {
  padding-top: $padding-tb;
  padding-bottom: $padding-tb;
}
.padded-lr {
  padding-left: $padding-lr;
  padding-right: $padding-lr;
}

nav#main-navigation {
  background-color: $color1;

  > ul {
    padding: 0;
    text-align: center;

    > li {
      list-style: none;
      display: inline-block;

      a {
        font-family: $font-stack-headings;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        padding: 1em 1.5em;
        transition: color 350ms ease-out;
        color: $kaiso-yellow;

        &:hover, &:active, &:focus {
          color: $kaiso-orange;
        }
      }
    }
  }
}

section {
  h1, h2, h3 {
    color: $kaiso-orange-alt;
    text-shadow: 3px 3px 0 #E0E0E0;
  }

  &.dark {
    background-color: $color1;

    h1, h2, h3 {
      color: $kaiso-blue;
      text-shadow: 3px 3px 0 $color1;
    }
  }
}

section#news {
  .news-cell {
    margin-bottom: 1.5em;

    .title {
      font-weight: bold;
    }
    .content {
      font-size: 0.85em;
      margin-top: 0.5em;
    }
    .moretag {
      margin-top: 0.25em;
    }
  }
  .dates {
    ul {
      padding-left: 2em;

      li {
        list-style: none;
        position: relative;
        margin-bottom: 0.7em;

        span {
          display: block;
        }
        span.date {
          position: relative;
          font-weight: bold;

          &:before {
            content: '';
            position: absolute;
            top: 0.55em;
            left: -1em;
            background-color: $kaiso-orange-alt;
            width: 0.4em;
            height: 0.4em;
            border-radius: 1em;
            box-shadow: 2px 2px 0 #E0E0E0;
          }
        }
        span.place {
          font-size: 0.9em;
        }
      }
    }
  }
}

section#label {
  position: relative;
  background: {
    color: $color1;
    position: center;
    size: cover;
    repeat: no-repeat;
    image: url('../img/calypso_bg.jpg');
  };
  color: white;

  .wrapper {
    position: relative;
  }
  .image-cell {
    align-self: center;
    margin-bottom: 1.5em;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color1, 0.15);
  }
}

section#artists {
  .artist-row {
    position: relative;

    .player-cell {
      margin-bottom: 1.5em;
    }
    iframe {
      max-width: 100% !important;
      max-height: 100% !important;
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    &:not(:last-child) {
      margin-bottom: $padding-tb;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -$padding-tb/2;
        left: 15%;
        width: 70%;
        height: 1px;
        background-color: transparentize($kaiso-orange-alt, 0.5);
      }
    }
  }
}

article {
  h1, h2, h3 {
    color: $kaiso-orange-alt;
    text-shadow: 3px 3px 0 #E0E0E0;
  }
  .published-date {
    font-style: italic;
    font-size: 0.85em;
  }
}













